*
  box-sizing: border-box
  body
    +reg
.container
  width: 1170px
  margin: auto
@media (max-width: 1200px)
  .container
    width: 960px
@media (max-width: 768px)
  .container
    max-width: 750px
    width: 90%
img
  max-width: 100%
.button
  cursor: pointer
  border-radius: 10px
  background-color: $main-color 
  padding: 17px 30px
  margin-left: 30px
  outline: none
  &:hover
    background-color: lighten($main-color, 10%)
.section
  padding: 90px 0
  &-title
    font-size: 24px
    +bold
  &-subtitle
    font-size: 16px
.input
  border-radius: 10px
  border: 1px solid #dddddd
  font-size: 15px
  outline: none
  &:focus
    border: 1px solid $main-color
    
  