@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: Museo Sans Light, sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 750px;
    width: 90%;
  }
}

img {
  max-width: 100%;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  padding: 17px 30px;
  margin-left: 30px;
}

/*Стили для шапки*/
.navbar {
  padding: 6px 0;
}

.navbar__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__phone {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-family: Museo Sans Bold, sans-serif;
  font-weight: 700;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #333333;
  font-size: 13px;
}

.navbar__button {
  font-family: Museo Sans Bold, sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 13px;
}

@media (max-width: 768px) {
  .navbar__contact {
    display: none;
  }
  .navbar__button {
    padding: 15px 26px;
  }
}

/*Стили для главного экрана*/
.hero {
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  margin-right: 140px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  font-family: Museo Sans Bold, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 40px;
}

.hero-text__subtitle {
  font-size: 20px;
  display: inline-block;
  font-family: Museo Sans Bold, sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__image {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  border: 2px solid #ffd200;
  border-radius: 50%;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: width 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  -list__item {
    margin-bottom: 20px;
  }
  -list__text {
    font-size: 12px;
  }
  -list__image {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */